@model IEnumerable<Pizza.Models.PizzaModel>

@{
  ViewData["Title"] = "Top Pizza Toppings";
}

<h2>Top 20 Pizza Toppings</h2>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Toppings</th>
        <th>Orders</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Rank)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Toppings)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Count)
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>
